extends ../../layout.jade
block contenido
    div(class="col-md-8 remove-float center-block big-top-space")
        h1 Subir nueva imagen
        form(action="/app/imagenes" method="POST")
            div(class="form-group")
                label(for="title") Título
                input(type="text" name="title" placeholder="Título de la imagen" id="title" class="form-control")
            div(class="form-group")
                label(for="archivo") Imagen
                input(type="file" name="archivo" id="archivo" class="form-control")
            div(class="row top-space")
                div(class="col-xs-12 col-sm-6")
                    input(type="submit" value="Enviar" class="btn btn-info")