extends ./layout.jade
block contenido
    div(class="col-md-8 remove-float center-block text-center big-top-space")
        h1 Bienvenido a Foto
        a(href="/login" class="right-space") Inciar sesión
        a(href="/signup") Registro