extends ./layout.jade
block contenido
    div(class="col-md-8 remove-float center-block big-top-space")
        form(action="/sessions" method="POST")
            div(class="form-group")
                label(for="email") Email 
                input(type="text" name="email" placeholder="Email" id="email" class="form-control")
            div(class="form-group")
                label(for="password") Contraseña
                input(type="password" name="password" placeholder="Password" id="password" class="form-control")
            div(class="row top-space")
                div(class="col-xs-12 col-sm-6")
                    input(type="submit" value="Iniciar Sesión" class="btn btn-info")
                div(class="col-xs-12 col-sm-6 text-right")
                    a(href="/signup") No tengo cuenta