extends ./layout.jade
block contenido
    div(class="col-md-8 remove-float center-block big-top-space")
        form(action="/users" method="POST")
            div(class="form-group")
                label(for="email") Email 
                input(type="text" name="email" placeholder="Email" id="email" class="form-control")
            div(class="form-group")
                label(for="password") Contraseña
                input(type="password" name="password" placeholder="Password" id="password" class="form-control")
            div(class="form-group")
                label(for="password_confirmation") Confirmar contraseña
                input(type="password" name="password_confirmation" placeholder="Password confirmación" id="password_confirmation" class="form-control")
            div(class="form-group")
                label(for="username") Username
                input(type="text" name="username" placeholder="Nombre usuario" id="username" class="form-control")
            div(class="row top-space")
                    div(class="col-xs-12 col-sm-6")
                        input(type="submit" value="Registro" class="btn btn-info")
                    div(class="col-xs-12 col-sm-6 text-right")
                        a(href="/login") Ya tengo cuenta