html
    head
        title Mi primer página web
    body
        h1= hola
        //- var arreglo = [1,2,3,4,5];
        //- for(var i = arreglo.length - 1; i >= 0; i++)
            p Hola #{arreglo[i]}
            if(true)
                p.
                    Hola haz click en #a(href="")
            por cuestiones de seguridad no es recomendable usar esto